@import "tailwindcss";

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root {
  --shadow-even: 0 0 10px rgba(0, 0, 0, 0.2);
  --shadow-even-dark: 0 0 10px rgba(255, 255, 255, 0.1);
  --shadow-subtle: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@utility shadow-subtle {
  box-shadow: var(--shadow-subtle);
}
@utility shadow-even {
  box-shadow: var(--shadow-even);
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

